doctype html
html(lang='pl')
	head
		title='Lista samochodów'
	body
		nav
			ul
				li
					a(href='/') Start
				li
					a(href='/list') Lista samochodów
				li
					a(href='/add') Dodawanie samochodów
				li
					a(href='/list_dealers') Lista dealerów
				li
					a(href='/add_dealer') Dodawanie dealerów
		main
			block content
		footer
			p Prosta apka w express, node, pug