extends layout
block content
	h1 Lista
	table
		tr
			th Lp
			th Marka
			th Nazwa
			th Rok
		each car, index in carsList
			tr
				td=index+1
				td=car.brand
				td=car.model
				td=car.year
				td
					a(href="/delete/"+car.id) usuń
				td
					a(href="/edit/"+car.id) edytuj